.banner {
  background-image: url("https://1.bp.blogspot.com/-YwPmkkidXdQ/YFcHEWzpo1I/AAAAAAAAF1w/yZXs9Y920ZsytB9_upMsNjP8oE-Ei20uACLcBGAsYHQ/s16000/1.png");
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: auto;
}
